

.App{
  width:100vw;
  height:100vh;
}

body{
  margin:0;
  padding:0;
}

.SideNav{
  height:100%;
  width:300px;
  background-color:blue;
}


@import url('https://unpkg.com/leaflet/dist/leaflet.css');
